{% extends "template/basepage.html" %}
{%block js%}
        <script  type="text/javascript">
            function delPlugin(id){
                art.dialog({id:'msg',title:'提示',content:"要删除点击的系统消息么？",icon:'warning',lock: true,cancel:true,ok:function(){
                                try{
                                    $j.get('NoticeDelete?id='+id,null,result,false);

                                }catch(e){
                                    return ;
                                }
                            }});
            }
            function result(result){
                var resultobj=JSON2.parse(result);
                if(resultobj.success){
                    result_alert2('succeed',resultobj.message);
                }else{
                    result_alert2('warning',resultobj.message);
                }
                document.getElementById('tr'+resultobj.result).style.display='none';
            }
        </script>
{%endblock%}
{% block navigator %}
<a  href="/PluginList">游戏管理</a>
 >> <a href="#">添加游戏</a> >> <a href="javascript:history.back(-1);">后退</a>
{% endblock %}
{% block content %}

<table width="90%" cellpadding="1" cellspacing="1" border="0" bgcolor="#D5E3E6">
    <tr bgcolor="#ffffff"  height="25">
    <td width="40px"  align="center">序号</td>
    <td width="150px" align="center">消息标题</td>
    <!--<td width="150px" align="center">分类</td>-->
    <td width="50px" align="center">消息类型</td>
    <td width="100px" align="center">创建日期</td>
    <td width="100px" align="center">开始日期</td>
    <td width="60px" align="center">结束日期</td>
    <td width="60px" align="center">状态</td>
    <td width="200px;" align="center">操作</td>
    </tr>
    {% for notice in noticeList%}
    <tr id="tr{{notice.key().id()}}" style="cursor:hand"  height="25"  onmouseover="cells_color(this,1);" onMouseOut="cells_color(this,2);" bgcolor="#ffffff">
    <td align="center">{{loop.index}}</td>
    <td align="center"><a href="/NoticeDetail?id={{notice.key().id()}}">{{notice.title}}</a></td>
    <td>{% if notice.type== 1%}系统消息{%else%}新游戏广告{%endif%}</td>

    <td align="center">{{notice.lastUpdateTime|datetimeformat}}</td>
    <td align="center">{{notice.startdate}}</td>
    <td align="center">{{notice.enddate}}</td>
    <td align="center">{% if notice.isdel%}已删除{%else%}正常{%endif%}</td>
    <td align="center"><a href="/NoticeUpdate?id={{notice.key().id()}}"><img src="/image/update.gif"  border="0"/></a>&nbsp;|&nbsp;<a href="javascript:delPlugin('{{notice.key().id()}}')"><img src="/image/del.gif"  border="0"/></a>&nbsp;</td>
    </tr>
    {%endfor%}
</table>
{% endblock %}