{% extends "template/basepage.html" %}
{%block js%}
        <script type="text/javascript" src="/js/Calendar3.js" >
    </script>
<script type="text/javascript">
    function typechange(){
        var type=document.getElementById('noticetype').value;
        var type2_1=document.getElementById('type2_1');
        var type2_2=document.getElementById('type2_2');
        var type2_3=document.getElementById('type2_3');
        var type2_4=document.getElementById('type2_4');
        if(type==1){
            type2_1.style.display='none';
            type2_2.style.display='none';
            type2_3.style.display='none';
            type2_4.style.display='none';
        }
        if(type==2){
            type2_1.style.display='block';
            type2_2.style.display='block';
            type2_3.style.display='block';
            type2_4.style.display='block';
        }
    }

    function addInput(){
//        var imgindex=0;
//        var textindex=0;
        var img=false;
        var text=false;
        var type='';
        var f=false;
        var trs=$j('#fromtable tr').each(function(index,domEle){
//            if($j(domEle).children('input').length>0){
            if(f){
                return;
            }
                var el=$j(domEle)[0].children[0].children[0];
                if(el!=null&&el.name.indexOf('image')==0){
                    if(type=='content'&&text==false){
                        addText(index-1);
                        f=true;
                        return;
                    }
//                    imgindex+=1;
                    if(el.value==''){
                        img=true;

                    }else{
                        img=false;
                    }
                    type='image';
                }
                if(el!=null&&el.name.indexOf('content')==0){
                    if(type=='image'&&img==false){
                        addImg(index-1);
                        f=true;
                        return;
                    }
//                    textindex+=1
                    if(el.value==''){
                        text=true;

                    }else{
                        text=false;
                    }
                    type='content';
                }
//            }
        });
//        alert(trs.length);
    }
    function addImg(trindex){
        $j('#fromtable tr:eq('+trindex+')').after("<tr bgcolor='#ffffff'><td>"+'图片：<input type="file" name="image'+$j('#fromtable tr').length+'"   style="width:500px;" onchange="addInput()"/>'+"</td></tr>");
    }function addText(trindex){
        $j('#fromtable tr:eq('+trindex+')').after("<tr bgcolor='#ffffff'><td>"+'内容：<textarea name="content'+$j('#fromtable tr').length+'"  style="width:500px;" rows="5" maxlength="450" onchange="addInput()" ></textarea>'+"</td></tr>");
    }
    function initform(){
        var inputindex='';
        var trs=$j('#fromtable tr').each(function(index,domEle){
                        var el=$j(domEle)[0].children[0].children[0];
                        if(el!=null&&el.name.indexOf('image')==0){

                            if(el.value!=''){
                                inputindex+=el.name;
                                inputindex+=',';


                            }
                        }
                        if(el!=null&&el.name.indexOf('content')==0){

                            if(el.value!=''){
                                inputindex+=el.name;
                                inputindex+=',';

                            }
                        }
                });
        $j('#index').val(inputindex);
    }
    function delImg(pid,id){
        art.dialog({id:'msg',title:'提示',content:"要删除点击的图片么？",icon:'warning',lock: true,cancel:true,ok:function(){
            try{
                $j.get('ImageDel?id='+id+'&pid='+pid,null,result,false);

            }catch(e){
                return ;
            }
        }});
    }
    function result(result){
        var resultobj=JSON2.parse(result);
        if(resultobj.success){
            result_alert2('succeed',resultobj.message);
        }else{
            result_alert2('warning',resultobj.message);
        }
//        document.getElementById('img'+resultobj.result).style.display='none';
        $j('#tr'+resultobj.result).remove();
    }
    $j(function(){
        for(var i=0;i<$j('#fromtable tr').length;i++){
            addInput();
        }
        typechange();
    });
    function endtime(days){
        var startdate=$j('#startdate').val();
        var enddate=$j('#enddate').val();

    }
</script>
{%endblock%}
{% block navigator %}
<a  href="/PluginList">系统消息管理</a>
 >> <a href="#">发布系统消息</a> >> <a href="javascript:history.back(-1);">后退</a>
{% endblock %}
{% block content %}
<form action="/NoticeUpdate"  enctype="multipart/form-data"  method="post" id="form1" onsubmit="initform();return valSubmit('form1');">
    {% if id %}
 <input type="hidden" name="id" value="{{notice.key().id()}}"/>
    {%endif%}
<table width="90%"  id="fromtable" cellpadding="1" cellspacing="1" border="0" bgcolor="#D5E3E6">
  <tr  bgcolor="#ffffff">
    <td style="padding-left:5px;" >标题:</td>
  </tr>
  <tr  bgcolor="#ffffff">
    <td>
      <input type="text" name="title"  val="{'required':true,'title':'标题'}" value="{{notice.title}}"  style="width:500px;"/>  <span class="red_star">*</span>  </td>
  </tr><tr  bgcolor="#ffffff">
    <td style="padding-left:5px;" >开始日期:</td>
  </tr>
  <tr  bgcolor="#ffffff">
    <td>
      <input type="text" name="startdate" id="startdate" val="{'required':true,'title':'开始日期'}" value="{%if notice%}{{notice.startdate|datetimeformat('%Y-%m-%d')}}{%else%}{{noteupdate|datetimeformat('%Y-%m-%d')}}{%endif%}" maxlength="10" onclick="new Calendar().show(this);" readonly="readonly"  style="width:500px;"/>  <span class="red_star">*</span>  </td>
  </tr>
  <tr  bgcolor="#ffffff">
    <td style="padding-left:5px;" >结束日期:</td>
  </tr>
  <tr  bgcolor="#ffffff">
    <td>
      <input type="text" name="enddate" id="enddate"  val="{'required':true,'title':'结束日期'}" value="{%if notice%}{{notice.enddate|datetimeformat('%Y-%m-%d')}}{%endif%}" maxlength="10" onclick="new Calendar().show(this);" readonly="readonly"  style="width:500px;"/>  <span class="red_star">*</span> </td>
  </tr>
  <tr bgcolor="#ffffff" >
    <td style="padding-left:5px;" >类型:</td>
  </tr>
  <tr bgcolor="#ffffff" >
  <td>
        <select name="type" id="noticetype" onchange="typechange()" style="width:300px;">
            <option value="1" {%if notice.type==1%}selected="selected"{%endif%}>系统消息</option>
            <option value="2" {%if notice.type==2%}selected="selected"{%endif%}>新插件广告</option>
        </select>
	  </td>
  </tr>
  <tr bgcolor="#ffffff" id="type2_1" style="display:none;" >
    <td style="padding-left:5px;" >插件:</td>
  </tr>
  <tr bgcolor="#ffffff"  id="type2_2" style="display:none;" >
  <td>
        <select name="plugin"   style="width:300px;">
            {%for plugin in pluginList%}
            <option value="{{plugin.key().id()}}" {%if notice.plugin==plugin.key().id()%}selected="selected"{%endif%}>{{plugin.name}}</option>
            {%endfor%}
        </select>
	  </td>
  </tr>
  <tr bgcolor="#ffffff"  id="type2_3" style="display:none;" >
    <td style="padding-left:5px;" >使用插件版本的图片:</td>
  </tr>
  <tr bgcolor="#ffffff" id="type2_4" style="display:none;" >
  <td>
        <input type="radio" name="pluginimg" value="1" {%if notice.pluginimg==1%}checked="checked"{%endif%} {%if not notice%}checked="checked"{%endif%} >使用
        <input type="radio" name="pluginimg" value="0" {%if notice.pluginimg==0%}checked="checked"{%endif%}>不使用
	  </td>
  </tr>
   {%if not notice%}
    <tr bgcolor="#ffffff" >
    <td>
      图片：<input type="file" name="image0"   style="width:500px;" onchange="addInput()"/>
    </td>
    </tr>

  <tr bgcolor="#ffffff" >
    <td>
	 内容： <textarea name="content0"  style="width:500px;" rows="5" maxlength="450" onchange="addInput()" >{{notice.content}}</textarea>	</td>
  </tr>
    {%else%}
    {%for item in noticecontent%}
        {%if item.type=='img'%}
    <tr bgcolor="#ffffff" id="tr{{item.imgid}}" >
    <td>
        <input type="hidden" id="hidden{{item.imgid}}" name="image{{loop.index}}" value="{{item.imgid}}"/>图片：<a href="javascript:delImg('{{notice.key().id()}}','{{item.imgid}}');"><img id="img{{item.imgid}}" src="/download?image_id={{item.imgid}}" border="0"></a>
    </td>
    </tr>
        {%else%}
  <tr bgcolor="#ffffff" >
    <td>
        内容：<textarea name="content{{loop.index}}"  style="width:500px;" rows="5" maxlength="450" onchange="addInput()" >{{item.content}}</textarea>	</td>
  </tr>
        {%endif%}
    {%endfor%}
    {%endif%}
    <tr bgcolor="#ffffff" >
        <td>
          图片：<input type="file" name="image00"   style="width:500px;" onchange="addInput()"/>
        </td>
        </tr>
      <tr bgcolor="#ffffff" >
        <td>
            内容：<textarea name="content00"  style="width:500px;" rows="5" maxlength="450" onchange="addInput()" ></textarea>	</td>
      </tr><tr bgcolor="#ffffff" >
        <td>
          图片：<input type="file" name="image000"   style="width:500px;" onchange="addInput()"/>
        </td>
        </tr>
      <tr bgcolor="#ffffff" >
        <td>
            内容：<textarea name="content000"  style="width:500px;" rows="5" maxlength="450" onchange="addInput()" ></textarea>	</td>
      </tr>
  <tr bgcolor="#ffffff" >
    <td>&nbsp;</td>
  </tr>
  <tr bgcolor="#ffffff" >
    <td  align="left"  style="padding-left:25px;" >
      <input type="submit" name="Submit" value="确定"/>
	  <input type="reset" name="Reset" value="重置"/>
	  <input type="button" name="Return" value="返回" onClick="javascript:history.back(-1);" />
      <input type="hidden" id="index" name="index" value="">
    </td>
  </tr>
</table>
</form>

{% endblock %}